<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body class="container-fluid p-0" > 
    <!--Navbar-->
    <%- include('navbar') %>

    <!-- logo & welcome------------------------------------------- -->
    <div class="text-center">
        <img src="/images/logo.png" alt="Logo" class="big-logo">
        <h1 class="big-text">Chase Your Dreams</h1>
        <p class="large-font text-white"> Best Travel Agency</p>
    </div>

</body>
<!-- footer--------------------------------------------- -->
<%- include('footer') %>
</html>